server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5

ecom:
  greeting: Welcome to local catalog


spring:
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      request-connect-timeout: 5000
      request-read-timeout: 5000
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
  sql:
    init:
      mode: never
      continue-on-error: false

  datasource:
    url: jdbc:postgresql://localhost:5432/catalogdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 5

  flyway:
    url: jdbc:postgresql://localhost:5432/catalogdb
    user: postgres
    password: postgres
    baseline-on-migrate: true
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: refresh
