spring:
    application:
        name: config-service

    cloud:
        config:
            server:
                enabled: true
                git:
                    uri: https://github.com/joelproxi/spring-boot-ms-config-service.git
                    clone-on-start: true
                    force-pull: true
                    timeout: 5
                    default-label: main
    
                


server:
  port: 8888
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5
